<div class="panel panel-header">
    <h3>Insertion Sort</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="sort()">Sort</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Enter a list of comma delimited numbers to Sort:<input type="text" class="form-control" [(ngModel)]="unsortedValues"
        />
    </div>
    <div class="col-md-4 array">
        <ul class="list-group" *ngFor="let item of unsorted;let i=index">
            <li class="list-group-item">{{item}}</li>
        </ul>
    </div>
    <div class="col-md-4 array">
        <ul class="list-group" *ngFor="let item of sorted;let i=index">
            <li class="list-group-item">{{item}}</li>
        </ul>
    </div>
    <div class="col-md-4 array">
        <ul class="list-group">
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>