<div class="row">
    <div>Enter a sorted Array: <input type="text" [(ngModel)]="sortedArray" (keyup)="onkeyup($event)" [value]="'1,4,7,12,19,23'"
        /> </div>
    <div>Closes To: <input type="text" [(ngModel)]="desired" [value]="16" /></div>
    <button class="btn btn-default" (click)="find()">Find Closest</button>
    <ul>
        <li>
            <ul *ngFor="let val of sorted">
                <li>{{val}}</li>
            </ul>
            Val1 = {{ val1 }} , Val2 = {{val2}}, Sum = {{ addition}}
        </li>
        <li>
            <ul *ngFor="let val of desiredPair">
                <li>
                    {{val}}
                </li>
            </ul>
        </li>
    </ul>
</div>